################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CleanCodeLabs/.vs/CleanCodeLabs/v16
/**/obj/*
/**/bin/*
